<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Title -->
    <title>Admin list</title>

    <%- include common_header.ejs %>
    <script src="/admin/js/admin_category.js"></script>

    <script>
        $(document).ready(function(){
            $('#left_menu_admin_mgt', $('#sideNavMenu')).addClass('has-active');
            $('#item_admin_list', $('#sideNavMenu')).addClass('g-color-pink');
        });
    </script>
</head>

<body>
<!-- Header -->
<%- include admin_topbar.ejs %>
<!-- End Header -->

<main class="container-fluid px-0 g-pt-65">
    <div class="row no-gutters g-pos-rel g-overflow-hidden">
        <!-- Sidebar Nav -->
        <%- include admin_left_panel.ejs %>
        <!-- End Sidebar Nav -->

        <div class="col g-ml-45 g-ml-0--lg g-pb-65--md">

            <!-- core content -->
            <div class="g-pa-20">
                <div class="table-responsive g-mb-40">
                    <table class="table u-table--v3 g-color-black" id="real_tbl">
                        <thead>
                        <tr>
                            <th>Username</th>
                            <th>Full name</th>
                            <th>Active</th>
                        </tr>
                        </thead>
                        <tbody>
                        <% admin_list.forEach(function(admin) { %>
                            <tr class="tr_data" data-id="<%= admin._id %>">
                                <td><%= admin.username %></td>
                                <td><%= admin.fullname %></td>
                                <td><input type="checkbox" <%= admin.is_active>0?"checked":"" %>/></td>
                            </tr>
                        <% }); %>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- END core content -->
            <!-- Footer -->
            <footer id="footer" class="u-footer--bottom-sticky g-bg-white g-color-gray-dark-v6 g-brd-top g-brd-gray-light-v7 g-pa-20">
                <div class="row align-items-center">
                    <!-- Footer Copyrights -->
                    <div class="col-md-4 text-center text-md-right">
                        <small class="d-block g-font-size-default">&copy2020 SwipeX. All Rights Reserved.</small>
                    </div>
                    <!-- End Footer Copyrights -->
                </div>
            </footer>
            <!-- End Footer -->
        </div>
    </div>
</main>

</body>

</html>
