<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Title -->
    <title>Language list</title>

    <%- include common_header.ejs %>
    <script src="/admin/js/admin_language.js"></script>

    <script>
        $(document).ready(function(){
            $('#left_menu_language_mgt', $('#sideNavMenu')).addClass('has-active');
            $('#item_language_list', $('#sideNavMenu')).addClass('g-color-pink');
        });
    </script>
</head>

<body>
<!-- Header -->
<%- include admin_topbar.ejs %>
<!-- End Header -->

<main class="container-fluid px-0 g-pt-65">
    <div class="row no-gutters g-pos-rel g-overflow-hidden">
        <!-- Sidebar Nav -->
        <%- include admin_left_panel.ejs %>
        <!-- End Sidebar Nav -->

        <div class="col g-ml-45 g-ml-0--lg g-pb-65--md">

            <!-- core content -->
            <div class="g-pa-20">
                <div class="table-responsive g-mb-40">
                    <table class="table u-table--v3 g-color-black" id="real_tbl">
                        <thead>
                        <tr>
                            <th>Unique Key</th>
                            <th>English</th>
                            <th>Korean</th>
                            <th>Chinese</th>
                            <th>Russian</th>
                            <th>Active</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                            <% lang_list.forEach(function(language) { %>
                                <tr class="tr_data" data-id="<%= language._id %>">
                                    <td><input class="txt_key form-control form-control-md g-brd-gray-light-v7 g-brd-gray-light-v3 g-rounded-4 g-px-14 g-py-10" type="text" value="<%= language.key %>"/></td>
                                    <td>
                                        <textarea class="txt_en form-control form-control-md g-resize-none g-brd-gray-light-v7 g-brd-gray-light-v3--focus g-rounded-4" rows="3"><%= language.en %></textarea>
                                    </td>
                                    <td>
                                        <textarea class="txt_kr form-control form-control-md g-resize-none g-brd-gray-light-v7 g-brd-gray-light-v3--focus g-rounded-4" rows="3"><%= language.kr %></textarea>
                                    </td>
                                    <td>
                                        <textarea class="txt_cn form-control form-control-md g-resize-none g-brd-gray-light-v7 g-brd-gray-light-v3--focus g-rounded-4" rows="3"><%= language.cn %></textarea>
                                    </td>
                                    <td>
                                        <textarea class="txt_ru form-control form-control-md g-resize-none g-brd-gray-light-v7 g-brd-gray-light-v3--focus g-rounded-4" rows="3"><%= language.ru %></textarea>
                                    </td>
                                    <td><input type="checkbox" <%= language.is_active>0?"checked":"" %>/></td>
                                    <td>
                                        <i class="hs-admin-save g-font-size-18 g-mr-10 g-mr-15--md g-color-pink--hover pointer" title="Save this language" onclick="adminLanguage.save_detail(this);"></i>
                                    </td>
                                </tr>
                            <% }); %>
                        </tbody>
                    </table>
                </div>
                <div><a href="javascript:void(0);" class="btn btn-md u-btn-blue g-mr-10 g-mb-15" onclick="adminLanguage.add_new_row();">Add new</a></div>
                <div>
                    <table class="hidden" id="tbl_template">
                        <tr class="tr_data" data-id="">
                            <td><input class="txt_key form-control form-control-md g-brd-gray-light-v7 g-brd-gray-light-v3 g-rounded-4 g-px-14 g-py-10" type="text" value=""/></td>
                            <td>
                                <textarea class="txt_en form-control form-control-md g-resize-none g-brd-gray-light-v7 g-brd-gray-light-v3--focus g-rounded-4" rows="3"></textarea>
                            </td>
                            <td>
                                <textarea class="txt_kr form-control form-control-md g-resize-none g-brd-gray-light-v7 g-brd-gray-light-v3--focus g-rounded-4" rows="3"></textarea>
                            </td>
                            <td>
                                <textarea class="txt_cn form-control form-control-md g-resize-none g-brd-gray-light-v7 g-brd-gray-light-v3--focus g-rounded-4" rows="3"></textarea>
                            </td>
                            <td>
                                <textarea class="txt_ru form-control form-control-md g-resize-none g-brd-gray-light-v7 g-brd-gray-light-v3--focus g-rounded-4" rows="3"></textarea>
                            </td>
                            <td><input type="checkbox" checked/></td>
                            <td>
                                <i class="hs-admin-save g-font-size-18 g-mr-10 g-mr-15--md g-color-pink--hover pointer" title="Save this language" onclick="adminLanguage.save_detail(this);"></i>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <!-- END core content -->
            <!-- Footer -->
            <footer id="footer" class="u-footer--bottom-sticky g-bg-white g-color-gray-dark-v6 g-brd-top g-brd-gray-light-v7 g-pa-20">
                <div class="row align-items-center">
                    <!-- Footer Copyrights -->
                    <div class="col-md-4 text-center text-md-right">
                        <small class="d-block g-font-size-default">&copy2020 SwipeX. All Rights Reserved.</small>
                    </div>
                    <!-- End Footer Copyrights -->
                </div>
            </footer>
            <!-- End Footer -->
        </div>
    </div>
</main>

</body>

</html>
