
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Title -->
    <title><%= data==null?'':data['Name']%></title>
    <%- include common_header.ejs %>
    <script src="/js/profile.js"></script>
    <script>
        $(window).on('load', function () {
            profileClass.doGetProfile();
            profileClass.show_info();
            profileClass.search_related_users();
        });
    </script>
</head>

<body>
<main>
    <!-- Header -->
    <%- include common_menu.ejs %>
    <!-- End Header -->

    <input type="hidden" id="profile-id" value="<%= data==null?'':data['_id']%>" />

    <section class="g-mb-20 g-mt-50">
        <div class="container">
            <div class="row">
                <!-- Profile Sidebar -->
                <div class="col-lg-3 g-mb-50 g-mb-0--lg">
                    <!-- User Image -->
                    <div class="u-block-hover g-pos-rel">
                        <figure>
                            <img class="img-fluid w-100 u-block-hover__main--zoom-v1" src=<%=data==null?'':data['Picture']%> />
                        </figure>
                    </div>
                    <!-- User Image -->
                </div>
                <!-- End Profile Sidebar -->

                <!-- Profle Content -->
                <div class="col-lg-9">
                    <!-- Tab panes -->
                    <div id="nav-1-1-default-hor-left-underline" class="tab-content">
                        <!-- Edit Profile -->
                        <div class="tab-pane fade show active" id="nav-1-1-default-hor-left-underline--1" role="tabpanel" data-parent="#nav-1-1-default-hor-left-underline">
                            <ul class="list-unstyled g-mb-30">
                                <!-- Name -->
                                <li class="d-flex align-items-center justify-content-between g-brd-bottom g-brd-gray-light-v4 g-py-15">
                                    <div class="g-pr-10">
                                        <strong class="d-block d-md-inline-block g-color-gray-dark-v2 g-width-200 g-pr-10">Tên</strong>
                                        <span class="align-top"><%= data==null?'':data['Name']%></span>
                                    </div>
                                </li>
                                <!-- End Name -->
                                <li class="d-flex align-items-center justify-content-between g-brd-bottom g-brd-gray-light-v4 g-py-15">
                                    <div class="g-pr-10">
                                        <strong class="d-block d-md-inline-block g-color-gray-dark-v2 g-width-200 g-pr-10">Giới tính</strong>
                                        <span class="align-top" id="Sex" data-value="<%=data['Sex']%>"></span>
                                    </div>
                                </li>
                                <!-- Your ID -->
                                <li class="d-flex align-items-center justify-content-between g-brd-bottom g-brd-gray-light-v4 g-py-15">
                                    <div class="g-pr-10">
                                        <strong class="d-block d-md-inline-block g-color-gray-dark-v2 g-width-200 g-pr-10">Tình trạng hôn nhân</strong>
                                        <span class="align-top" id="MariedStatus" data-value="<%=data['MariedStatus']%>"></span>
                                    </div>
                                </li>
                                <!-- End Your ID -->

                                <li class="d-flex align-items-center justify-content-between g-brd-bottom g-brd-gray-light-v4 g-py-15">
                                    <div class="g-pr-10">
                                        <strong class="d-block d-md-inline-block g-color-gray-dark-v2 g-width-200 g-pr-10">Mục tiêu</strong>
                                        <span class="align-top" id="Objective" data-value="<%=data['Objective']%>"></span>
                                    </div>
                                </li>
                                <li class="d-flex align-items-center justify-content-between g-brd-bottom g-brd-gray-light-v4 g-py-15">
                                    <div class="g-pr-10">
                                        <table width="100%" border="0">
                                            <tr>
                                                <td><strong class="d-block d-md-inline-block g-color-gray-dark-v2 g-width-200 g-pr-10">Bản thân</strong></td>
                                                <td><span class="align-top"><%= data==null?'':data['Profile']%></span></td>
                                            </tr>
                                        </table>
                                    </div>
                                </li>
                                <li class="d-flex align-items-center justify-content-between g-brd-bottom g-brd-gray-light-v4 g-py-15">
                                    <div class="g-pr-10">
                                        <table width="100%" border="0">
                                            <tr>
                                                <td><strong class="d-block d-md-inline-block g-color-gray-dark-v2 g-width-200 g-pr-10">Tìm người</strong></td>
                                                <td><span class="align-top"><%= data==null?'':data['LookingFor']%></span></td>
                                            </tr>
                                        </table>
                                    </div>
                                </li>
                                <li class="d-flex align-items-center justify-content-between g-brd-bottom g-brd-gray-light-v4 g-py-15">
                                    <div class="g-pr-10">
                                        <strong class="d-block d-md-inline-block g-color-gray-dark-v2 g-width-200 g-pr-10">Tuổi</strong>
                                        <span class="align-top"><%= data==null?'':data['Age']%></span>
                                    </div>
                                </li>
                                <!-- Position -->
                                <li class="d-flex align-items-center justify-content-between g-brd-bottom g-brd-gray-light-v4 g-py-15">
                                    <div class="g-pr-10">
                                        <strong class="d-block d-md-inline-block g-color-gray-dark-v2 g-width-200 g-pr-10">Chiều Cao</strong>
                                        <span class="align-top"><%= data==null?'':data['Height']%> cm</span>
                                    </div>
                                </li>
                                <li class="d-flex align-items-center justify-content-between g-brd-bottom g-brd-gray-light-v4 g-py-15">
                                    <div class="g-pr-10">
                                        <strong class="d-block d-md-inline-block g-color-gray-dark-v2 g-width-200 g-pr-10">Cân nặng</strong>
                                        <span class="align-top"><%= data==null?'':data['Weight']%> kg</span>
                                    </div>
                                </li>
                                <!-- End Position -->

                                <li class="d-flex align-items-center justify-content-between g-brd-bottom g-brd-gray-light-v4 g-py-15">
                                    <div class="g-pr-10">
                                        <strong class="d-block d-md-inline-block g-color-gray-dark-v2 g-width-200 g-pr-10">Nơi ở</strong>
                                        <span class="align-top" id="Province" data-value="<%=data['Province']%>"></span>
                                    </div>
                                </li>
                                <li class="d-flex align-items-center justify-content-between g-brd-bottom g-brd-gray-light-v4 g-py-15">
                                    <div class="g-pr-10">
                                        <strong class="d-block d-md-inline-block g-color-gray-dark-v2 g-width-200 g-pr-10">Bằng cấp</strong>
                                        <span class="align-top" id="Degree" data-value="<%=data['Degree']%>"></span>
                                    </div>
                                </li>
                                <li class="d-flex align-items-center justify-content-between g-brd-bottom g-brd-gray-light-v4 g-py-15">
                                    <div class="g-pr-10">
                                        <strong class="d-block d-md-inline-block g-color-gray-dark-v2 g-width-200 g-pr-10">Email</strong>
                                        <span id="profile-email" class="align-top"></span>
                                    </div>
                                </li>
                            </ul>

                            <div id="btn-contact" class="text-sm-right hidden">
                                <a class="btn u-btn-primary rounded-0 g-py-12 g-px-25" href="#!">Liên lạc</a>
                            </div>
                        </div>
                        <!-- End Edit Profile -->

                    </div>
                    <!-- End Tab panes -->
                </div>
                <!-- End Profle Content -->
            </div>
        </div>
    </section>

    <!-- Template of user -->
    <div class="col-lg-3 col-md-6 g-mb-40 g-mb-0--lg hidden" id="user_item_tmpl">
        <article class="media g-mb-10">
            <a class="d-flex u-shadow-v25 mr-3 avatar_link" href="#!">
                <img class="g-width-60 g-height-60 avatar"/>
            </a>
            <div class="media-body">
                <h3 class="h6">
                    <a class="u-link-v5 g-color-gray-dark-v1 g-color-primary--hover cut_line_limit two_lines description" href="#!"></a>
                </h3>
            </div>
        </article>
    </div>
    <!-- End Template of user -->

    <section class="g-mb-30">
        <div class="container">
            <div class="u-heading-v3-1 g-mb-30">
                <h2 class="h5 u-heading-v3__title g-font-primary g-font-weight-700 g-color-gray-dark-v1 text-uppercase g-brd-primary">Bạn cùng giới tính</h2>
            </div>
            <div class="row" id="same_gender_container">
                <!-- data fetch here -->
            </div>
        </div>
    </section>


    <section class="g-mb-30">
        <div class="container">
            <div class="u-heading-v3-1 g-mb-30">
                <h2 class="h5 u-heading-v3__title g-font-primary g-font-weight-700 g-color-gray-dark-v1 text-uppercase g-brd-primary">Bạn cùng tình trạng hôn nhân</h2>
            </div>
            <div class="row" id="same_marital_status_container">
                <!-- data fetch here -->
            </div>
        </div>
    </section>


    <section class="g-mb-30">
        <div class="container">
            <div class="u-heading-v3-1 g-mb-30">
                <h2 class="h5 u-heading-v3__title g-font-primary g-font-weight-700 g-color-gray-dark-v1 text-uppercase g-brd-primary">Bạn cùng mục tiêu</h2>
            </div>
            <div class="row" id="same_objective_container">
                <!-- data fetch here -->
            </div>
        </div>
    </section>

    <section class="g-mb-30">
        <div class="container">
            <div class="u-heading-v3-1 g-mb-30">
                <h2 class="h5 u-heading-v3__title g-font-primary g-font-weight-700 g-color-gray-dark-v1 text-uppercase g-brd-primary">Bạn cùng thành phố</h2>
            </div>
            <div class="row" id="same_province_container">
                <!-- data fetch here -->
            </div>
        </div>
    </section>


    <!-- Footer -->
    <%- include common_footer.ejs %>
    <!-- End Footer -->
</main>

</body>

</html>
